@import "_header";



h1{
	color: green;
}

body{
	font-size: 30px;
	div{
		font-size: 10px;
	}
}


	.block {
		margin: 0px 0px 30px 0px;

	}
	.block__item {
	}
}

.red{
	color: red;
}

.red{
	border: 30px;
}